body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header ul{
  display: flex;
  align-items:center;
  justify-content: space-around;
  width: 100%;
}

form {
  width: 320px;
  margin: 0 auto;
}

form button{
  width: 100%;
}

.App{
  padding-top: 20px;
}
.p-small{
  font-size: 12px;
}
.postadd{
  margin:20px auto;
  display: block;
}